{% extends "base.html" %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col">
            {% if article.image %}
  <img style="width: 95% !important;" src="{{ article.image.url }}" class="card-img-top m-1 mx-auto w-100" alt="...">
  {% else %}
  <img style="width: 95% !important;" src="{% static 'images/default.png' %}" class="card-img-top m-1 mx-auto w-100" alt="...">
{% endif %}
        </div>
        <div class="col">
            <h1 class="text-center ">{{ article.title }}</h1>
            <p class="text-secondary">{{ article.content }}</p>
            <p>Muallif : <span class="text-decoration-underline">{{ article.author }}</span></p>
            <p>Qo'shilgan vaqti : <span class="text-decoration-underline">{{ article.created_at }}</span></p>
            {% if user.is_authenticated and article.author == user %}
            <p>
                <a class="btn btn-success" href="{% url 'article_edit' article.slug %}">Edit</a>
                <a class="btn btn-success" href="{% url 'article_delete' article.slug %}">Delete</a>
            </p>
             {% endif %}
        </div>
    </div>
{% endblock %}


