{% extends "base.html" %}
{% load static %}
{% block title %}Maqolalar{% endblock %}

{% block content %}
<div class="row  ">
    <h1 class="text-center my-4">Maqolalar</h1>
 <form method="get">
  <div class="input-group my-5">
  <input value="{{ q|default:'' }}" name='q'  type="text" class="form-control" placeholder="Recipient’s username" aria-label="Recipient’s username with two button addons">
  <button class="btn btn-outline-secondary" type="submit">Search</button>
  <a href="{% url 'article_list'%}" class="btn btn-outline-secondary" type="button">Reset</a>
</div>
 </form>
 {% if user.is_authenticated %}
 <p>
  <a class="btn btn-dark" href="/?mine=1">Mening articlelarim</a>
 </p>
 {% endif %}
 {% if user.is_authenticated and q %}
<a class="btn btn-dark" href="/?q={{ q|urlencode}}&mine=1">Mening + qidiruv</a>
{% endif %}
  {% for article in articles %}
  <div class="col-3">
     <div class="card">
      {% if article.image %}
  <img style="width: 95% !important;" src="{{ article.image.url }}" class="card-img-top m-1 mx-auto w-100" alt="...">
  {% else %}
  <img style="width: 95% !important;" src="{% static 'images/default.png' %}" class="card-img-top m-1 mx-auto w-100" alt="...">
{% endif %}
  <div class="card-body">
    <div class="badges">
      <span class="badge text-bg-dark">{{ article.author }}</span>
      <span class="badge text-bg-secondary">{{ article.created_at }}</span>
    </div>
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">{{ article.content | truncatechars:50 }}</p>
    <a href="{% url 'article_detail' article.slug %}" class="btn btn-dark">Kirish</a>
  </div>
</div>
  </div>
  {% endfor %}
</div>
{% endblock %}